@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body{
  margin: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}

.container{
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header {
    width: 100%;
    height: 92px;
    background: #1F1F1F;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px 40px;
    font-size: 0.75em;
    font-weight: bold;
    color: #fff;
  }
  
  .grayborder {
    outline: 1px solid #393939;
  }
  
  .container__social {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr 0.7fr;
    grid-template-rows: 52px;
  }
  
  .login {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu {
    width: 25px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .menu .bar {
    width: 100%;
    height: 2px;
    margin: 2px 0;
    background-color: #fff;
  }
  
  .logo {
    place-self: center;
  }
  
  .credit-card {
    width: 30px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    margin-right: 10px;
    position: relative;
  }
  
  .credit-card:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: #202020;
    top: 3px;
  }

  .credit-card--text p{
    margin: 0;
    padding: 0;
  }
  
  .mastercard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon--svg.icon--search {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: square;
  }
  
  .icon--svg--black-stroke {
    stroke: #fff;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* second section */
  
  .container__links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container__links--urls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  .container__links--urls li {
    list-style: none;
    padding: 0 18px;
    height: 100%;
    cursor: pointer;
  }
  
  .container__links--urls a {
    height: inherit;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
  }
  
  .container__links--urls a:hover {
    color: #fff;
    border-bottom: 2px solid #ec1d24;
  }
  
  .container__links--urls a:hover a {
    color: lightgray;
  }


  /* streaming section */

  .streaming {
    width: 100%;
    height: 850px;
    position: relative;
  }
  
  .streaming__info {
    height: 60%;
    width: 100%;
    background: #151515 url("../../assets/images/comics.jpg");
    background-position: right;
    background-size: 700px 500px;
    background-repeat: no-repeat;
  }
  
  .streaming_info-container {
    display: flex;
  }
  
  .streaming_info-description {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  
  .description--figure {
    max-width: 100%;
    height: auto;
  }
  
  .description-text-1 {
    letter-spacing: 1px;
    font-size: 40px;
    color: #fff;
    margin-top: 2px;
    margin-bottom: 3px;
  }
  
  .description-text-2 {
    font-size: 16px;
    color: #fff;
    margin-top: 2px;
  }
  
  .description--img {
    max-width: 100%;
    height: auto;
  }
  
  .streaming_info-image {
    width: 50%;
    height: 100%;
  }
  
  .streaming__videos {
    height: 40%;
    width: 70%;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    overflow-x: auto;
  }
  
  .slider-container {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
  }


  /* cards  */

  .card {
    height: 267px;
    width: 164px;
    margin: 0 7px;
    flex-shrink: 0;
  }
  
  .card__img {
    width: 100%;
    height: 80%;
  }
  
  .card__img-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
  }
  
  .card--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card__title {
    color: #151515;
  }
  
  .card__description {
    color: #999;
  }
  
  .card:last-child {
    background-color: #fff;
  }

  /* promotions */

  .promotions {
    background-color: #151515;
    width: 100%;
    height: 40px;
    text-align: center;
  }
  
  .promotions--desktop,
  .promotions--mobile {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
  }
  
  .promotions--mobile {
    display: none;
  }

  /* line with text */

  .textContainer {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
  }
  
  .textContainer--txt {
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
  }
  
  .textContainer--txt:before {
    content: "";
    width: calc(100% - 70%);
    height: 2px;
    position: absolute;
    left: calc(100% - 55%);
    top: calc(100% - 105%);
    background-color: #c6a972;
    transform: rotate(-45deg) skewX(45deg);
  }
  
  .textContainer--txt:after {
    content: "";
    width: calc(100% - 70%);
    height: 2px;
    position: absolute;
    left: calc(100% - 95%);
    bottom: calc(100% - 105%);
    background-color: #c6a972;
    transform: rotate(-45deg) skewX(45deg);
  }
  
  
  @media (orientation: portrait) {
    .promotions--desktop {
      display: none;
    }
    .promotions--mobile {
      display: flex;
    }
  }
  
  
  
  @media (orientation: portrait) {
    .streaming__videos {
      width: 100%;
    }
  }
  
  
  @media (orientation: portrait) {
    header {
      height: 52px;
      grid-template-rows: 52px;
    }
    .second_nav {
      display: none;
    }
    .mastercard {
      display: none;
    }
    .container__social {
      grid-template-columns: 1fr 3fr 1fr;
    }
    .login p {
      display: none;
    }
    .login .menu {
      display: flex;
    }
    .grayborder {
      outline: none;
    }
  }
  