@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}

.container{
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.txt-red{
  color: #ec1d24;
}

.txt-white{
  color: #fff
}

.txt-lightgray{
  color: #999;
}

.txt-center{
  text-align: center;
}

header {
    width: 100%;
    height: 92px;
    background: #1F1F1F;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px 40px;
    font-size: 0.75em;
    font-weight: bold;
    color: #fff;
  }
  
  .grayborder {
    outline: 1px solid #393939;
  }
  
  .container__social {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr 0.7fr;
    grid-template-rows: 52px;
  }
  
  .login {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu {
    width: 25px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .menu .bar {
    width: 100%;
    height: 2px;
    margin: 2px 0;
    background-color: #fff;
  }
  
  .logo {
    place-self: center;
  }
  
  .credit-card {
    width: 30px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    margin-right: 10px;
    position: relative;
  }
  
  .credit-card:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: #202020;
    top: 3px;
  }

  .credit-card--text p{
    margin: 0;
    padding: 0;
  }
  
  .mastercard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon--svg.icon--search {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: square;
  }
  
  .icon--svg--black-stroke {
    stroke: #fff;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* second section */
  
  .container__links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container__links--urls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  .container__links--urls li {
    list-style: none;
    padding: 0 18px;
    height: 100%;
    cursor: pointer;
  }
  
  .container__links--urls a {
    height: inherit;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
  }
  
  .container__links--urls a:hover {
    color: #fff;
    border-bottom: 2px solid #ec1d24;
  }
  
  .container__links--urls a:hover a {
    color: lightgray;
  }


  /* streaming section */

  .streaming {
    width: 100%;
    height: 850px;
    position: relative;
  }
  
  .streaming__info {
    height: 60%;
    width: 100%;
    background: #151515 url("../assets/images/comics.jpg");
    /* background-position: right; */
    /* background-size: 700px 500px; */
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .streaming_info-container {
    display: flex;
  }
  
  .streaming_info-description {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  
  .description--figure {
    max-width: 100%;
    height: auto;
  }
  
  .description-text-1 {
    letter-spacing: 1px;
    font-size: 40px;
    color: #fff;
    margin-top: 2px;
    margin-bottom: 3px;
  }
  
  .description-text-2 {
    font-size: 16px;
    color: #fff;
    margin-top: 2px;
  }
  
  .description--img {
    max-width: 100%;
    height: auto;
  }
  
  .streaming_info-image {
    width: 50%;
    height: 100%;
  }
  
  .streaming__videos {
    min-height: 100px;
    height: auto;
    width: 70%;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }
  
  .slider-container {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
  }


  /* cards  */

  .card {
    height: 267px;
    width: 164px;
    margin: 0 7px;
    flex-shrink: 0;
  }
  
  .card__img {
    width: 100%;
    height: 80%;
  }
  
  .card__img-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
  }
  
  .card--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card__title {
    color: #151515;
  }
  
  .card__description {
    color: #999;
  }
  
  .card:last-child {
    background-color: #fff;
  }

  /* long card */

  .long_card {
    width: 100%;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 50%;
    border-bottom: 1px solid #f2f2f2;
  }
  
  .long_card-img {
    object-fit: cover;
  }
  
  .long_card--img {
    padding: 0;
    margin: 0;
  }
  
  .long_card--img img {
    width: 100%;
  }
  
  .long_card-body {
    padding: 30px;
    place-self: center;
  }
  
  .long_card-body {
    margin: 0;
  }

  .long_card--title{
    color: #999;
  }
  
  .long_card--description {
    font-weight: 700;
    color: #151515;
    font-size: 20px;
    text-decoration: none;
  }
  
  .long_card--description:hover {
    color: #e62429;
  }
  
  .long_card-body span {
    margin: 0;
  }

  /* xs card */

  .xs_card{
    width: 100%;
    height: 100px;
    margin: 20px 0px;
  }

  .xs_card-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
  }

  .xs_card-image{
    width: 30%;
    height: 100%;
  }

  .xs_card-description{
    width: 70%;
    height: 100%;
    padding: 0px 10px;
  }

  .xs_card-description--title{
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }

  .xs_card-description--content{
    margin-top: .4em;
  }
  

  /* promotions */

  .promotions {
    background-color: #151515;
    width: 100%;
    height: 40px;
    text-align: center;
  }
  
  .promotions--desktop,
  .promotions--mobile {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
  }
  
  .promotions--mobile {
    display: none;
  }

  /* line with text */

  .textContainer {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
  }
  
  .textContainer--txt {
    text-overflow: ellipsis;
    text-transform: uppercase;
    /* color: #1F1F1F; */
    font-size: 2em;
  }
  
  .textContainer--txt:before {
    content: "";
    width: calc(100% - 90%);
    height: 2px;
    position: absolute;
    left: calc(100% - 55%);
    top: calc(100% - 90%);
    background-color: #c6a972;
    transform: rotate(-45deg) skewX(45deg);
  }
  
  .textContainer--txt:after {
    content: "";
    width: calc(100% - 90%);
    height: 2px;
    position: absolute;
    left: calc(100% - 85%);
    bottom: calc(100% - 90%);
    background-color: #c6a972;
    transform: rotate(-45deg) skewX(45deg);
  }

  /* medium card */

  .medium_card {
    min-height: 200px;
    height: 100%;
    width: 25%;
    margin: 7px 7px;
  }
  
  .medium_card-img {
    width: 100%;
    height: 80%;
  }
  
  figure {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8); */
  }
  
  .medium_card--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .medium_card--title {
    color: #999;
    text-align: left;
    text-transform: uppercase;
  }
  
  .medium_card--description {
    color: #151515;
    font-weight: 700;
    text-decoration: none;
  }
  
  .medium_card--description:hover {
    color: #e62429;
  }
  
  .card:last-child {
    background-color: #fff;
  }

  /* carousel */
  
  .Carousel {
    width: 100%;
    height: 633px;
    background-image: url("../assets/images/superheroes.jpg");
    /* inear-gradient(
        to right,
        rgba(32, 32, 32, 0.5) 5%,
        transparent 99%
      ), */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-boxK;
    position: relative;
    font-weight: 700;
    padding: 10px;
  }
  
  .container__infomovie {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .container__infomovie--details {
    color: #fff;
    width: 50%;
    height: auto;
  }
  
  .title {
    font-size: 3em;
    padding: 0;
    margin: 0;
  }
  
  .subtitle {
    font-weight: 400;
  }
  
  .info-button {
    font-weight: 700;
    text-transform: uppercase;
    background-color: #e62429;
    color: #fff;
    padding: 10px 30px;
  }
  
  .controls:before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 100%;
    background-color: #fff;
  }
  
  .controls {
    max-width: 100%;
    width: 900px;
    height: 72px;
    background-color: #fff;
    position: absolute;
    bottom: -30px;
    left: 33%;
    transform: translate(-33%);
  }
  
  .controls ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }
  
  .controls ul li {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
  }
  
  .controls a {
    padding: 20px 10px;
    color: #151515;
    text-decoration: none;
  }
  
  .controls ul li:nth-child(1):after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 5px solid #e62429;
    width: 100%;
  }

  /* separator */
  
  .separator {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }

  /* marvel home */

  .marvel__home{
    width: inherit;
    height: inherit;
    display: flex;
  }

  /* small card */

  .small_card {
    width: 15.0672%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .small_card--img {
    padding: 0;
    margin: 0;
    box-shadow: 0 7px 17px -8px rgba(0,0,0,.8);
  }
  
  .small_card--img img {
    width: 100%;
    height: 100%;
  }
  
  .small_card-title h4 {
    margin-bottom: -7px;
    color: #e62429;
    text-transform: uppercase;
  }
  
  .small_card-description span {
    margin: 0;
  }
  
  .small_card-body {
    padding-left: 10px;
  }
  
  /* footer */

  footer {
    width: 100%;
    background-color: #151515;
  }
  
  .footer__container {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  
  .marvel__full-content {
    display: flex;
    justify-content: space-evenly;
  }
  
  .marvel__info-logo {
    width: 100px;
    background-color: red;
  }
  
  .main__card-promotion {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .main__card-promotion--description {
    padding-left: 30px;
  }
  
  .main__card-promotion--description h4 {
    margin: 0;
    color: #fff;
  }
  
  .main__card-promotion--description p {
    margin: 0;
    color: #999;
  }
  
  .main__card-promotion--img {
    width: 60px;
  }
  
  .img__wrapper {
    width: 100%;
  }
  
  .img__wrapper img {
    width: 100%;
  }
  
  .marvel__info nav ul li {
    color: #fff;
    list-style: none;
    line-height: 2em;
  }
  
  .marvel__info {
    display: flex;
  }
  
  .marvel__info-logo {
    margin-right: 60px;
  }
  
  .info-logo--link {
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
  .marvel__info nav {
    margin-right: 60px;
  }
  
  .marvel__info nav ul {
    margin: 0;
    padding: 0;
  }
  
  .marvel__social {
  }
  
  .marvel__social h4 {
    color: #fff;
    margin: 0;
  }
  
  .social-links ul li {
    list-style: none;
  }
  
  .marvel__legal-wrapper {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .marvel__legal-wrapper nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .marvel__legal-wrapper nav a,
  span {
    text-decoration: none;
    color: #999;
    margin: 10px;
    font-size: 12px;
    line-height: 1.2em;
  }

  /* promotion card */

  .promotion_card {
    height: 345px;
    width: 100%;
    background-color: #000;
  }
  
  .promotion_card-container {
    display: flex;
  }
  
  .promotion_card-img {
    width: 50%;
    height: 100%;
  }
  
  .promotion_card-info {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .promotion-title {
    letter-spacing: 3px;
    color: #e62429;
    text-transform: uppercase;
  }
  
  .promotion-description {
    font-weight: 800;
    color: #fff;
    padding-top: 0;
    margin-top: 0;
  }
  
  .promotion-button {
    padding: 10px 15px;
  }
  
  .promotion-conditions {
    color: #fff;
    position: absolute;
    bottom: 10px;
    font-size: 0.7em;
  }

  /* marvel podcast */

  .marvel_podcast-container{
    display: flex;
  }
  
  /* the latest */

  .latest__container {
    display: flex;
  }
  
  .latest_s1 {
    height: 100%;
    width: 70%;
    padding: 0 0 30px;
  }
  
  .latest_s2 {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
  
  .latest_s2-container {
    box-sizing: border-box;
    padding: 24px 0;
    width: 80%;
    height: 100px;
  }

  .latest_s2--header{
    border-bottom: 1px solid #f2f2f2;
  }

  .latest_s2--subtitle{
    font-size: .875rem;
  }

  @media screen and (max-width:320px){
    .promotions--desktop {
      display: none;
    }
    .promotions--mobile {
      display: flex;
    }
    .controls{
      display: none;
    }
    .marvel__home{
      flex-direction: column;
    }
    .small_card{
      width: 100%;
    }
    .medium_card{
      width: 100%;
    }
    .promotion_card{
      height: 100%;
    }
    .promotion_card-container{
      flex-direction: column;
    }
    .marvel__full-content{
      flex-direction: column;
    }
    .streaming{
      height: 100%;
    }
    .streaming__videos{
      flex-direction: column;
      position: initial;
      top: 0;
      left: 0;
      transform: initial;
    }
    .marvel_podcast-container{
      flex-direction: column;
    }
    .latest__container{
      flex-direction: column;
    }
    .latest_s2-container{
      height: 100%;
    }
  }
  
  
  @media (orientation: portrait) {
    .promotions--desktop {
      display: none;
    }
    .promotions--mobile {
      display: flex;
    }
  }
  
  
  
  @media (orientation: portrait) {
    .streaming__videos {
      width: 100%;
    }
  }
  
  
  @media (orientation: portrait) {
    header {
      height: 52px;
      grid-template-rows: 52px;
    }
    .second_nav {
      display: none;
    }
    .mastercard {
      display: none;
    }
    .container__social {
      grid-template-columns: 1fr 3fr 1fr;
    }
    .login p {
      display: none;
    }
    .login .menu {
      display: flex;
    }
    .grayborder {
      outline: none;
    }
  }
  